<div id="landing-page">
<div class="vertical-swapper">
    <section class="swap-section" style="background-image: url('images/construction-site.jpg');">
        <div class="content center-left-content">
            <h2 style="font-size: 4rem; color: #0A3A82; font-weight: bold;">Wellcome</h2>
            <p style="font-size: 2rem; color: #252424; font-weight: bold;">Project Integration <br> Made Easy.</p>
        </div>
    </section>
    <section class="swap-section" style="background-image: url('images/documents.jpg');">
        <div class="content top-left-content">
            <h2 style="font-size: 4rem; color: #ff0000; font-weight: bold;">Our Mission</h2>
            <p style="font-size: 2rem; color: #000000; font-weight: bold;">We give you the tools <br> that save your precious time</p>
        </div>
    </section>
    <section class="swap-section" style="background-image: url('images/skyscrapers.jpg');">
        <div class="content center-content">
            <h2>Out Projects</h2>
            <p>This is a list of our projects.</p>
        </div>
    </section>
</div>
</div>
