<h3><i class="fas fa-book-reader"></i> PIUME</h3>
<div class="section">
    <p class="lead">Project Management Made Easy</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn green darken">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>