p {
    margin: 10px 0 !important;
  }
  
  .login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
  }
  
  .fa-small {
    font-size: 16px !important;
  }
  
  .btn-float {
    float: left;
    margin-right: 10px;
  }
  
  .img-small {
    width: 180px;
  }
  
  .fa-large {
    font-size: 26px !important;
  }
  
  .input-group{
    display:table;
    width:100%;
  }
  .input-group .input-field,
  .input-group .input-group-addon{
    display:table-cell;
  }
  
  .search-form {
    margin: 70px 0;
  }

  .date-inputs-group {
    border-top: 4px solid #000000;
    padding-top: 20px;
    margin-top: 20px;
  }

  .financial-inputs-group {
    border-top: 4px solid #000000;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  .add-invoice-page .card-content label{
    font-size: 1.1em;
    font-weight: bold;
  }

  .add-invoice-page .card-title {
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  .contracting-authority-group {
    border-top: 4px solid #000000;
    padding-top: 20px;
    margin-top: 20px;
  }

  .final-info-group {
    border-top: 8px double #000000;
    padding-top: 20px;
    margin-top: 20px;

  }

  .card-action button {
    margin-left: 10px; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(210, 213, 223);
}